// Variables Storage
$website-width: 1280px;
$main-color: #00a2ff;
$light-color: #f4f4f4;
$medium-color: #cccc;
$dark-color: #333;
$bg-image: url('/img/edho-pratama-T6fDN60bMWY-unsplash.jpg');

// Set Text Color
@function set-text-color($color) {
    @if(lightness($color) > 50) {
        @return #000;
    } @else {
        @return white;
    }
}